<header>
    <h1>Cv app</h1>
</header>
<main>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="p-3">
        <h4 class="d-inline border-bottom border-dark">Personal info</h4>
        <div class="mt-1">
          <label for="name" class="form-label">Name:</label>
          <input id="name" type="text" formControlName="name" aria-describedby="nameHelpBlock">
          <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" id="nameHelpBlock" class="form-text">
            Name is required.
          </div>
        </div>

        <div>
          <label for="email" class="form-label">Email:</label>
          <input id="email" type="email" formControlName="email" aria-describedby="emailHelpBlock"/>
          <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" id="emailHelpBlock" class="form-text">
            Email is required. Must be in correct form
          </div>
        </div>
      </div>
      <hr/>
      <div class="p-3">
        <h4 class="d-inline border-bottom border-dark">Education</h4>
        <div formArrayName="schoolInputs">
          <div *ngFor="let schoolInput of getSchoolInputArray.controls;  let i = index" [formGroupName]="i">
            <div class="mt-1">
              <input type="hidden" formControlName="id">
              <div>
                <label for="school-input" class="form-label">School:</label>
                <input id="school-input" type="text" formControlName="schoolName" aria-describedby="schoolHelpBlock">
                <div *ngIf="schoolInput.get('schoolName')?.invalid && schoolInput.get('schoolName')?.touched" id="schoolHelpBlock" class="form-text">
                  School name is required
                </div>
              </div>

              <div>
                <label for="school-gpa" class="form-label">GPA:</label>
                <input id="school-gpa" type="number" formControlName="gpa" min="0" max="4" aria-describedby="gpaHelpBlock">
                <div *ngIf="schoolInput.get('gpa')?.invalid && schoolInput.get('gpa')?.touched" id="gpaHelpBlock" class="form-text">
                  Gpa is required. must be in range [0,4]
                </div>
              </div>
            </div>
            <a href="#" class="text-danger" role="button" (click)="onDeleteSchoolInputField(i)">delete</a>
          </div>
        </div>
        <div class="mt-1">
          <button class="btn button button-small btn-primary" (click)="addNewSchoolInputField()">Add</button>
        </div>
      </div>

      <div class="pt-3">
        <button
        type="submit"
        (submit)="onSubmit()"
        [disabled]="formGroup.invalid"
        class="btn button button-small btn-primary"
      >Submit
      </button>
      </div>

    </form>
</main>
